{% load static %}


<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css"  rel="stylesheet" />

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    <!-- Incluindo jQuery da CDN do jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- ou Incluindo jQuery da CDN do Google -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="flex h-screen" >
        <aside class="h-full w-16 flex flex-col space-y-10 items-center justify-center text-white" style="background-color: #212231">
            <div class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white">
                <a href="/"><i class='bx bxs-home text-4xl'></i></a>
            </div>
            <div class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white">
                <i class='bx bx-support text-4xl'></i>
            </div>
            <div class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white">
                <i class='bx bxs-info-circle text-4xl'></i>
            </div>
            <div class="h-10 w-10 flex items-center justify-center rounded-lg cursor-pointer hover:text-gray-800 hover:bg-white hover:duration-300 hover:ease-linear focus:bg-white">
                <i class='bx bxs-user text-4xl'></i>
            </div>
        </aside>
        <aside class="h-full w-72 flex flex-col space-y-4 p-4 text-gray-800" style="background-color: #466A85">
            <div>
                <img src="{% static 'svg/logo_rotoline.svg' %}">
                <hr class="bg-white">
                <ul class="flex flex-col py-4 space-y-1">
                    <li class="px-5">
                      <div class="flex flex-row items-center h-8">
                        <div class="text-lg font-semibold tracking-wide text-white">CADASTROS</div>
                      </div>
                    </li>
                    <li>
                        <a href="{% url 'createMaq' %}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-400 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-white pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <i class='bx bxs-cog text-2xl'></i>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Máquinas</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'modelos' %}" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-400 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-white pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <i class='bx bx-cube text-2xl'></i>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Modelos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-400 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-white pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <i class='bx bx-wrench text-2xl'></i>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Equipamentos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-gray-400 text-white hover:text-gray-800 border-l-4 border-transparent hover:border-white pr-6">
                            <span class="inline-flex justify-center items-center ml-4">
                                <i class='bx bxs-hard-hat text-2xl'></i>
                            </span>
                            <span class="ml-2 text-sm tracking-wide truncate">Manutenção</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="flex-1 p-6">
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>

</html>